.header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;

}

.content {
  display: flex;

  .pokemonsList {
    width: 60%;
    text-align: center;

    .pokemons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .pokemon {
        border: 1px solid black;
        width: 30%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin: 10px 0;
        background: white;
        font-size: 20px;
        font-weight: bold;


        .photoPokemon {
          margin-left: auto;
          margin-right: auto;
          border-bottom: 1px solid black;
          padding-bottom: 20px;

          img {
            height: auto;
            width: 100%;
          }
        }

        .pokemonInfo {
          padding: 10px;

          .pokemonName {
            margin: 10px 0;
          }

          .types {
            display: flex;
            justify-content: space-around;

            .type {
              border: 1px solid black;
              padding: 10px;
              border-radius: 25px;
              background: orange;
            }
          }
        }
      }
    }

    .loadMore {
      padding: 10px;
    }

    .loadMore button {
      width: 100%;
      background: #008cff;
      height: 50px;
      border-radius: 10px;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .singlePokemon {
    width: 20%;
    position: fixed;
    left: 70%;



    .dataPokemon {
      border: 1px solid black;
      margin: 0 20px;
      border-radius: 20px;
      background: white;



      .exit {
        text-align: end;
        font-size: 20px;
        color: black;
        padding: 10px;


        a {
          border-radius: 50%;
        }
      }

      .s {
        margin: 10px;



        .stats {
          display: flex;
          justify-content: space-between;
          border: 1px solid black;
          margin: 5px;
          padding: 5px;
          font-size: 16px;


          .statName {
            width: 50%;
          }

          .statType {
            width: 50%;
            text-align: end;

          }
        }
      }

      .fullDataPokemon {
        border-bottom: 1px solid black;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}



