.pokedex{

}
.header{
    border: 1px solid black;
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-between;
}
.pokemonsList{
    border: 1px solid blue;
    width: 60%;
    text-align: center;
}
.singlePokemon{
    border: 1px solid red;
    width: 40%;
}
.pokemons{
    display: flex;
    flex-wrap: wrap;
}
.pokemon{
    border: 1px solid green;
    width:33.333%;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.photoPokemon{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.photo{
   height: auto;
    width: 100%;
}
.pokemonInfo{
}
.pokemonName{
    border: 1px solid red;
    margin: 5px 0;

}
.types{
    border: 1px solid blue;
}
