.pokemon {
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px 0;
  background: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 1px 2px -2px rgb(0 0 0), 0 3px 6px 0 rgb(0 0 0), 0 5px 12px 4px rgb(0 0 0);


  .photoPokemon {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

    img {
      height: auto;
      width: 100%;
    }
  }

  .pokemonInfo {
    padding: 10px;

    .pokemonName {
      margin: 10px 0;
    }

    .types {
      display: flex;
      justify-content: space-around;

      .type {
        border: 1px solid black;
        padding: 10px;
        border-radius: 25px;
        background: orange;
      }
    }
  }
}
